
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    /* for reset all elements in html  */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;
    line-height: 1.2;
}

.u-center-element {
    display: block;
    text-align: center;
}
.small-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
}
.btn {
    cursor: pointer;
}
a{
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    color: inherit;

}
/* sat khassak darouri tmxiiii fi styling bi tari9a mnadma matb9aax tkharb9 fi tartiib diyal stytling elements */
nav{
    background-color: white;
}
/* clear fix problem hack */
nav::after {
    content: "";
    display: block;
    clear: both;
}
nav .logo {
    padding: 40px 40px 30px;
    float: left;
}
.logo span {
    letter-spacing: 5px;
    font-size: 20px;
    display: inline-block;
    font-weight: 900;
}
nav .navigator-list{
    margin-top: 40px;
    margin-left: 10%;
    float: left;
}
.navigator-list li {
    display: inline;
}
nav a {
    transition: all .25s ease-out;
}
li a{
    /*anchors is automatically display :inline;*/
    /* inheritance for creating a dynamic styling if change the body properties the anchors color and font-size will changed automatically */
    font-size: inherit;
    color: inherit;
    /* by default word-spacing:0; */
    /* word-spacing: 0; */
    padding: 5px 15px;
}
li a:hover {
    color: rgb(0, 132, 255);
}
.main-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 900;
}
.btn-login {
    float: left;
    margin-top: 45px;
    margin-left: 150px;
}

.btn-login a {
    font-size: 16px;
    color: rgb(0, 132, 255);
}
.btn-login a:hover{
    color: rgb(0, 132, 255);
    border-bottom:2px solid rgb(0, 132, 255);
    padding-bottom: 5px;
}

.header-title{
    position: relative;
    /* mlii kan3tiiw li parent text align center auto children ghadii yakhdouha ka inheritance wirata */
    text-align: center;
    padding: 100px 0;
    background-image: url("https://ericsamsung.files.wordpress.com/2014/05/animated-mountain-lake.gif");
    background-size: cover;
    letter-spacing: 5px;
    /* bro oussama had letter spacing kat9ball inheritance donc bla man3awdouhhha koula mara */
}
.header-title span {
    display: block;
}
.top-sub-title{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h1.main-title{
    padding: 50px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 150px;
}
.bottom-sub-title{
    font-family: 'Montserrat', sans-serif;
}
.btn-title ,
.btn-primary{
    margin-top: 50px;
    padding: 15px 20px;
    background-color: black;
    color: white;
    transition: 0.4s all ease-in;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    outline: none;
}
.btn-title:hover ,
.btn-primary:hover{
    background-color: rgba(0, 0, 0, 0);
    color: black;
} 

.section-about {
    font-family: 'Montserrat', sans-serif;
    max-width:1140px;
    margin: 75px auto;
}

.about-content{
    float: left;
    width: calc(50% - 150px);
    margin-right:150px ;
    font-size: 18px;
}
.about-content .main-heading {
    margin-top: 50px;
}

.about-content .paragraphs {
    margin: 100px 0 75px;
    padding: 0 25px;
}
.paragraphs p:not(:last-of-type){
    margin-bottom: 50px;
}
.about-image {
    float: left;
    width: 50%;
}
.about-image img {
    width: 100%;
}

.plans {
    background-image: url('image/mo.jpg');
    background-size: cover;
    background-position:center ;
    padding: 50px 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.plans-title{
    padding-left:100px ;
}
.plans-row {
    max-width: 1155px;
    margin: 0 auto;
    padding: 50px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.plan-column {
    width: calc(33.333% - 20px);
    float: left;
    border: 10px solid black;
    padding: 15px;
}
.plan-column:not(:last-of-type) {
    margin-right:10px;
}
.plan-column .small-heading{
    text-align: center;
}
.line-plans {
    border: none;
    border-bottom: 3px solid black;
    margin: 50px 0;
}
.plan-title {
    padding: 25px 0;
}
.plan-pricing span{
    display: inline-block;
    margin: 15px 0;
}
.btn-plan {
    margin-top: 25px;
    color: black;
    padding: 10px 35px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    background-color: rgb(51, 143, 230);
    transition: all .25s ease-in;
}
.btn-plan:hover {
    background-color: rgba(51, 144, 230, 0.726);
}
footer{
    background-color:rgb(3, 143, 185);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.footer-container {
    padding: 50px 0 0;
    max-width:1150px ;
    margin: 0 auto;
}
.footer-container > div {
    float: left;
    width: 50%;
}
.footer-container::after {
    content: "";
    clear: both;
    display: block;
}
footer .infos > div:not(:last-of-type){
    margin-bottom: 50px;
}
.infos p {
    line-height: 1.7;
}
.social img {
    transition: opacity .25s ease-in;
}
.social img:hover {
    opacity: .7;
}
footer .inputs-contact> div:not(:last-of-type){
    margin-bottom: 35px;
}
.inputs-contact label {
    display: block;
    padding-bottom:10px;
}
footer input ,textarea{
    font-family: inherit;
    background-color: transparent;
    border: 2px solid black;
    width: 400px;
    padding: 5px 10px;
}
textarea {
    resize: vertical;
    height: 100px;
}
footer input::placeholder ,textarea::placeholder{
    color: black;
} 
footer .footer-copyright{
    cursor: pointer;
    padding: 50px 0 15px;
    transition: color .25s ease-out;
}
footer .footer-copyright:hover{
    color: white;
}
